.wrapper {
  height:100%;
  width:100vw;
  display :flex;
  .chat-main {
    height:100vh;
    width: calc(100vw - 300px);
    .main-header {
      height: 96px;
      width: calc(100vw-300px);
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      .main-header__left-box {
        margin-top: 35px;
  
        .main-header__left-box__group-name {
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }
        .main-header__left-box__member-list {
          font-size: 12px;
          color: #999999;
          display:flex;
        }  
      }
      .main-header__edit-btn {
      color: #38aef0;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
      }
    }
    .messages {
    background-color: #fafafa;
    width: calc(100vw-300px);
    padding: 46px, 40px,0px,40px;
    height: calc(100vh - 186px);
    overflow: scroll;
      .messages__feed {
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;

        .messages__feed__log {
        display: flex;
        margin-bottom: 10px;

          .messages__feed__log__talker {
          font-size:16px;
          color: #434A54;
          font:bold;
        }
        
          .messages__feed__log__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
        
      }

        .messages__feed__text{
        font-size: 14px;
        color: #434A54;
      }
    }
  }
    .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    
      .new_message {
      display: flex;

        .input-box {
        position: relative;
        width: 100%;
        display: flex;
        height: 50px;

          .input-box__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        
          .input-box__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
            .fa {
            display: inline-block;
            // font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }

            .input-box__image__file {
            display:none;
          }
        }
      }

        .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
        // float:right;
      }
    }
  }
  }
}
